In [3]:
# data_cleaning.ipynb

import sys
import os

# Get the project root directory (one level up from the current directory)
project_root = os.path.abspath("..")

# Add the project root directory to the Python path
if project_root not in sys.path:
    sys.path.append(project_root)
# Import necessary libraries
import pandas as pd
from src.utils.data_loader import load_data
from src.utils.data_preprocessing import clean_data



# Set display options for better visibility
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Paths to the data files
outlet_info_path = '../data/outlet_info.csv'
training_data_path = '../data/training_data.csv'
test_data_path = '../data/test_data.csv'

# Load the datasets
outlet_info, training_data, test_data = load_data(outlet_info_path, training_data_path, test_data_path)

# Display the first few rows of each dataset
display(outlet_info.head())
display(training_data.head())
display(test_data.head())


# Check for missing values
print("Missing values in training data:\n", training_data.isnull().sum())
print("Missing values in test data:\n", test_data.isnull().sum())

# Fill missing values
training_data['item_qty'].fillna(0, inplace=True)
test_data['item_qty'].fillna(0, inplace=True)

# Optionally, drop rows with missing values in certain columns if they are critical
# training_data.dropna(subset=['some_column'], inplace=True)
# test_data.dropna(subset=['some_column'], inplace=True)

# Verify that there are no more missing values
print("Missing values after cleaning:\n", training_data.isnull().sum())

# Check for duplicates
print(f"Duplicate rows in training data: {training_data.duplicated().sum()}")
print(f"Duplicate rows in test data: {test_data.duplicated().sum()}")

# Remove duplicates
training_data.drop_duplicates(inplace=True)
test_data.drop_duplicates(inplace=True)

# Verify that duplicates are removed
print(f"Duplicate rows after cleaning in training data: {training_data.duplicated().sum()}")
print(f"Duplicate rows after cleaning in test data: {test_data.duplicated().sum()}")

# Convert date columns to datetime format
training_data['date_id'] = pd.to_datetime(training_data['date_id'])
test_data['date_id'] = pd.to_datetime(test_data['date_id'])

# Verify the conversion
print(training_data.dtypes)
print(test_data.dtypes)

# Save the cleaned datasets to new CSV files
training_data.to_csv('../data/cleaned_training_data.csv', index=False)
test_data.to_csv('../data/cleaned_test_data.csv', index=False)

# Summary of Data Cleaning
print("Data Cleaning Summary:")
print("- Missing values handled (filled with 0 or dropped).")
print("- Duplicate rows removed.")
print("- Date columns converted to datetime format.")
print("- Cleaned data saved for further use.")

  store   profile    size
0   ABC  Moderate  Medium
1   XYZ      High   Large

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0

    date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  2/1/2022  Beverages       2.0      480.0   XYZ  112360    1495518.0
1  2/1/2022  Beverages       1.0      202.0   XYZ  111195    1495518.0
2  2/1/2022  Household       1.0      165.0   XYZ   41212    1495572.0
3  2/1/2022  Household       2.0      480.0   XYZ  123476    1495572.0
4  2/1/2022    Grocery       2.0      660.0   XYZ  106668    1495572.0

Missing values in training data:
 date_id            0
item_dept          0
item_qty           0
net_sales          0
store              0
item               0
invoice_num    22810
dtype: int64
Missing values in test data:
 date_id           0
item_dept         0
item_qty          0
net_sales         0
store             0
item              0
invoice_num    8305
dtype: int64
Missing values after cleaning:
 date_id            0
item_dept          0
item_qty           0
net_sales          0
store              0
item               0
invoice_num    22810
dtype: int64

C:\Users\PRABUDDHA\AppData\Local\Temp\ipykernel_14840\251337708.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data['item_qty'].fillna(0, inplace=True)
C:\Users\PRABUDDHA\AppData\Local\Temp\ipykernel_14840\251337708.py:43: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['item_qty'].fillna(0, inplace=True)

Duplicate rows in training data: 1766
Duplicate rows in test data: 750
Duplicate rows after cleaning in training data: 0
Duplicate rows after cleaning in test data: 0
date_id        datetime64[ns]
item_dept              object
item_qty              float64
net_sales             float64
store                  object
item                    int64
invoice_num           float64
dtype: object
date_id        datetime64[ns]
item_dept              object
item_qty              float64
net_sales             float64
store                  object
item                    int64
invoice_num           float64
dtype: object
Data Cleaning Summary:
- Missing values handled (filled with 0 or dropped).
- Duplicate rows removed.
- Date columns converted to datetime format.
- Cleaned data saved for further use.